* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: lcd;
  src: url(../font/SUBWT___.ttf);
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: a

}

main {
    max-width: 410px;
    

}

main input{
    width: 100%;
    font-size: 3.5rem;
    margin-bottom:10px;
    background-color: black;
    color: green;
    text-align: right;
    padding: 10px 4px 10px 4px;
    font-family: lcd;
    border: 1px solid yellow;
    border-radius:4px;
    padding-top: 50px   ;
}

main section#keyBoard {
    display: grid;
    grid-template-columns: 1fr(repeat);
    /** Grid eller liknade */
}

button{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 4rem;
}

@media (max-width: 767px) {
    body {

    }

    main {

    }

    main input{

    }
}

@media (max-width: 339px) {
    main {

    }

}
