body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    font-family: sans-serif;
}

main {
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

input[type="text"] {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    background-color: #eee;
    font-size: 2rem;
    color: #333;
    text-align: right;
    border-bottom: 1px solid #ddd;
}

#keyBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px; /* Small gap to simulate button spacing */
    background-color: #ddd;
}

button {
    background-color: #fafafa;
    border: none;
    padding: 20px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f0f0f0;
}

button#clear {
    background-color: #ff6666;
    color: #fff;
}

button#clear:hover {
    background-color: #ff4d4d;
}

.action {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
}

.action:hover {
    background-color: #45a049; /* Darker green on hover */
}

#memoryDisplay{
    font-size: 1rem;
    color: grey ;
}
